
.projectsection {
  max-height: 100vh;
  background-color: #CCE6DE;
  cursor: url('images/pointer.png'), pointer;
}

.buildings{
  background-color: #CCE6DE;
}
.img-buildings{
  width: 100%;
  bottom:0;
  position: fixed;
  background-color: #CCE6DE;
}

.cross-button {
  display: flex;
  justify-content: flex-end;
  z-index: 12;
  position: fixed;
  padding-top: 80px;
  margin-right: 10px;
}

.pinkz {
  width: 80vh;
  z-index: 11;
  position: absolute;
  right: 0vh;
  top: 50px;
  animation: movement 1s ease;
  transform-origin: center;
}

@keyframes movement {
  0% {
    transform: translateX(50px);
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.work{
  z-index: 11;
  position:relative;
  list-style: none; 
  top: 60vh;
  margin-right: 70px;
  color: #4E4D4D;
  margin-bottom: 20px;
}

.contents{
  display: grid;
  justify-content: flex-end;
  font-size: 3vh;
}

.contents >li{
  display: flex;
  justify-content: space-between;
  width: 650px;
  transition: transform 0.2s ease-in-out;
  height: 50px;
}


.arrow-right{
  visibility: hidden;
  margin-right: 10px;
}

.contents >li:hover{
  .arrow-right{
    visibility: visible;
  }
  transform: translateX(20px);
  transition: transform 0.3s ease-in-out;
  transform-style: smooth;
}

