
.projectsection {
  height: 100vh;
  /* background-color: #CCE6DE; */
  /* cursor: url('images/pointer.png'), pointer; */
}

.img-buildings{
  width: 100%;
  bottom:0;
  position: fixed;
  /* background-color: #CCE6DE; */
}

.cross-button {
  display: flex;
  justify-content: flex-end;
  z-index: 12;
  position: fixed;
  padding-top: 45px;
  right: 10px;
}

.pinkz {
  width: 80vh;
  max-width: 80vw;
  z-index: 11;
  position: absolute;
  right: 0vh;
  top: 50px;
  animation: movement 1s ease;
  transform-origin: center;
}

@keyframes movement {
  0% {
    transform: translateX(50px);
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.work{
  z-index: 11;
  position:relative;
  list-style: none; 
  top: 60vh;
  margin-right: 70px;
  margin-bottom: 20px;
}

.contents{
  display: grid;
  justify-content: flex-end;
  font-size: 1.2em;
}

.contents >li{
  display: flex;
  justify-content: space-between;
  width: 40vw;
  transition: transform 0.2s ease-in-out;
  height: 50px;
}

@media only screen and (max-width: 1100px)
{
  .contents >li{ 
    width: 70vw;
  }
}

@media only screen and (max-width: 600px)
{
  .contents {
    font-size: 0.7em;
  }

  .contents >li{ 
    width: 80vw;
  }

  .cross-button{
    right: -10px;
  }

  .sswitch{
    right: 80px;
  }
}


.arrow-right{
  visibility: hidden;
  margin-right: 10px;
}

.contents >li:hover{
  .arrow-right{
    visibility: visible;
  }
  transform: translateX(20px);
  transition: transform 0.3s ease-in-out;
  transform-style: smooth;
}

.display{
  background-color: #4E4D4D;
  z-index: 13;
  position: absolute;
  bottom: 0;
  width: 50vw;
  height: 60vh;
}

a{
  text-decoration: none;
}

.darkk-mode{
  background-color: #7660A6;
  color: #aaa8a8;
}

.darkk-mode a{
  color: #aaa8a8;
}

.lightt-mode{
  background-color: #CCE6DE;
  color: #4E4D4D;
}

.lightt-mode a{
  color: #4E4D4D;
}