.main {
  height: 100%;
}

.Nav-contents {
  list-style: none;
  z-index: 10;
  position: fixed;
  right: 1vh;
  top: 28px;
}

.Nav-contents>li {
  margin-right: 50px;
}

.animatedgwen {
  width: 50vh;
  z-index: 4;
  position: absolute;
  top: -20px;
  margin-left: 20vh;
  position: fixed;
}


.leg {
  z-index: 4;
  top: 44vh;
  width: 11vh;
  margin-left: 27.2vh;
  animation: legMovement 4s infinite;
  transform-origin: top;
  position: fixed;
}

@keyframes legMovement {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.shadow {
  z-index: 5;
  position: fixed;
  top: 83vh;
  left: 20vh;
  width: 40vh;
}

.bg-asset {
  width: 180vh;
  z-index: 3;
  position: relative;
  
}

.text{
  display: flex;
  margin-right: 40px;
  justify-content: center;
  z-index: 13;
  position: relative;
  bottom: 736px;
  left: 147px;
  font-size: 0.8em;
  color:#9B7C8B;
}

.Developer {
  display: flex;
  justify-content: center;
  z-index: 3;
  position: fixed;
  top: 30vh;
  right: 1vh;
}

.Developer > img{
  max-width: 80vw;
}

.icons{
  display: flex;
  justify-content: flex-end;
  z-index: 13;
  position: fixed;
  top: 68vh;
  right: 12vh;
  font-size: 1.9em;
}

.icons > li{
  list-style: none;
  margin-left: 18px;
  padding: 2px;
}

.icons > li > a{
  text-decoration: none;
  color: #9B7C8B;
}

.icons .twitter :hover{
  color: #00acee;
}

.icons .linkedin :hover{
  color: #0e76a8;
}

.icons .github{
  font-size: 1.1em;
}
.icons .github :hover{
  color: #211F1F;
}

.icons .dribble :hover{
  color: #ea4c89;
}

@media only screen and (max-width: 1510px) {
  .Developer{
    z-index: 10;
    top:60vh;
    display: flex;
    justify-content: center;
  }
  .icons{
    right: -35vw;
    bottom:25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

@media only screen and (max-width: 820px) {
  .animatedgwen{
    margin-left: 10vh;
  }
  .leg{
    margin-left: 18.7vh;
  }
  .icons{
    left:180px;
    bottom:40vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 710px) {
  .bg-asset{
    height: 100vh;
  }
  .animatedgwen{
    width: 50vw;
  }
  .leg{
    width: 10vw;
    top: 45vw;
    margin-left: 14.1vh;
  }
  .shadow{
    display: none;
  }
  .Developer{
    top: 40vh;
  }
  .icons{
    left:0px;
    bottom:10vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 630px) {
  .animatedgwen{
    width: 60vw;
  }
  .leg{
    width: 15vw;
    top: 52vw;
    margin-left: 14.35vh;
  }
  .shadow{
    display: none;
  }
  .Developer{
    top: 40vh;
  }
  .icons{
    left:0px;
    bottom: 40vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 500px){
  .animatedgwen{
    margin-left: 8vw;
  }
  .leg{
    margin-left: 16vw;
  }
  .icons{
    left:0px;
    bottom:45vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main{
    max-height: 900px;
  }
  .Nav-contents{
    right: -10px
  }
}


